{% extends 'layout.html' %}
{% include 'includes/_navbar.html' %}
{% block body %}
<div class="form-group">
    <hr>
    <table class="table table-striped">
        <tr>
            <th>Flower</th>
            <th>Order quantity</th>
        </tr>
      {% for item in articles %}
           <tr>
               <td>{{item.flower_name}}</td>
               <td>{{item.quantity}}</td>

           </tr>
      {% endfor %}
    </table>
<a href="/bouquet_size"><input type="button" value="Order Again" class="btn btn-primary"></a>
</div>
{% endblock %}
