{% extends 'layout.html' %}

{% block body %}
<div class="container bg-light">
        <div class="col-md-12 text-center">
<div class="mx-auto" style="height: 200px;">
<h2> Login/Register</h2>
</div>
        </div>
</div>
<div class="container bg-light">
        <div class="col-md-12 text-center">
<a href="/login"><input type="submit" value="Login" class="btn btn-primary"></a>
<a href="/register"><input type="submit" value="Register" class="btn btn-primary"></a>
        </div>
</div>
{% endblock %}